@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
    --main-color: #1a2026;
    --additional-color: #1f262d;
    --voice-color: #11171d;
    --button-color: linear-gradient(90deg, #263341, #273039);
    --blue-color-text: #7ecff5;
    --hover-color: #2a3742;
    --link-color: #7daae9;
    --checkbox-cheked-color: #23588b;
}

button[aria-label="Начать активность"],
button[aria-label="Камера недоступна"],
button[aria-label="Шумоподавление с помощью Krisp"],
[role="button"][aria-label="Показать профиль пользователя (недоступно)"],
[role="button"][aria-label="Показать профиль пользователя"],
[role="button"][aria-label="Почта"],
[role="button"][aria-label="Помощь"],
div:has(> button[aria-label="Открыть звуковую панель"]),
div:has(> span[class*="disabledButtonWrapper-1m0hYZ"]),
[role="button"][aria-label="Начать видеозвонок"],
button[aria-label="Розпочати дію"],
button[aria-label="Поглинання шуму від Krisp"],
[role="button"][aria-label="Показати профіль користувача (недоступно)"],
[role="button"][aria-label="Показати профіль користувача"],
[role="button"][aria-label="Вхідні"],
[role="button"][aria-label="Довідка"],
div:has(> button[aria-label="Відкрити звукову панель"]),
[role="button"][aria-label="Розпочати відеовиклик"] {
    display: none;
}

button[aria-label="Продемонстрируйте свой экран"],
button[aria-label="Почати демонстрацію екрану"] {
    background: var(--button-color);
}

.buttonContainer-1sjtPU {
    display: none;
}

.controlButton-2PMNom.fauxDisabled-VBw6wH.contextMenuContainer-1RO4DQ {
    display: none;
}

.scroller-3X7KbA > .listItem-3SmSlK > .listItemWrapper-3d87LP {
    display: none;
}

.children-3xh0VB > .akaBadge-3i7V3p,
.children-3xh0VB > .nicknames-10Sg6e,
.children-3xh0VB > .divider-q3P9HC {
    display: none;
}

.withFrame-2dL45i {
    height: 22px;
    margin-top: 0;
    background-color: var(--main-color) !important;
}

/*[role="button"][aria-label="Свернуть"],
[role="button"][aria-label="Развернуть"],
[role="button"][aria-label="Закрыть"] {
    padding-top: 3px;
}*/

.scroller-3X7KbA,
.theme-dark .panel-2ZFCRb,
.chatContent-3KubbW {
    background: var(--main-color);
}

.root-22AK9z {
    background: var(--voice-color);
}

.container-YkUktl,
.container-1zzFcN {
    background: var(--main-color) !important;
}

.scroller-WSmht3,
.searchBar-3TnChZ {
    background: var(--additional-color) !important;
}

.searchBarComponent-3N7dCG,
.searchBar-jGtisZ {
    background: var(--main-color) !important;
}

[data-list-id="chat-messages"],
.form-3gdLxP:before,
.form-3gdLxP {
    background: var(--main-color) !important;
}

.placeholder-1rCBhr,
.scrollableContainer-15eg7h {
    background: var(--additional-color);
}

.themed-Hp1KC_,
.children-3xh0VB:after {
    background: var(--additional-color) !important;
}

.members-3WRCEx {
    background: var(--additional-color);
}

/* Скролл-бар */
::-webkit-scrollbar {
    border: 0px !important;
    width: 9px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 189) !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(157, 157, 160) !important;
}

.auto-2TJ1RH::-webkit-scrollbar-track {
    background-color: #151b21;
}

.auto-2TJ1RH::-webkit-scrollbar-thumb,
.auto-2TJ1RH::-webkit-scrollbar-track {
    border: 4px;
}

/* Скролл-бар КОНЕЦ */

.selected-26oxtA {
    background: #323b46;
}

/* Список сообщений, серверов, пользователей при наведении */
.interactive-26HRN_:hover:not(.interactiveSelected-29CP8y),
.wrapper-NhbLHG:hover .content-1gYQeQ,
.clickable-28SzVr:hover .layout-1qmrhw,
.button-3bklZh:hover {
    background: #252c35;
    transition: 0.3s;
}

/* Выбранные Список сообщений, серверов, пользователей */
.modeSelected-3DmyhH .content-1gYQeQ,
.button-3bklZh.selected-69H4ua {
    background: #323b46 !important;
}

/* Кнопка на главный экран */
/* .childWrapper-1j_1ub {
    background: #3c4d62 !important;
} */

.theme-dark .container-1NXEtd,
.container-2o3qEW {
    background: var(--additional-color);
}

/* Если тебя тегнули */
.mentioned-Tre-dv {
    background: #7789ab2e !important;
}

.mentioned-Tre-dv:before {
    background-color: #4b7c97;
}

/* Кнопка В эфире */
/*.live-1V2D-f.liveLarge-IxMVzY {
	background: var(--button-color);
}*/

/* Кнопка выключения просмотра демонстрации экрана и кнопка Отключиться */
button[aria-label="Прекратить просмотр"],
.colorable-3rVGna.red-3T8maV {
    background: var(--button-color) !important;
}

/* Цвет строки поиска в вкладке Друзья */
.inner-2pOSmK {
    background: #323b46;
}

/* Загружаемые файлы и разные фоны в сообщениях */
.attachment-1PZZB2.newMosaicStyle-35X6XO,
.newMosaicStyle-2jdUaP .codeView-12LUIl,
.newMosaicStyle-2jdUaP .footer-GXWBBp,
.newMosaicStyle-2jdUaP .textContainer-36wgKK,
.grid-1aWVsE,
.wrapper-2vIMkT {
    background: var(--button-color);
}

/* Кнопка + (зайти на сервер) */
.circleIcon-3489FI > path {
    fill: var(--blue-color-text);
}

.circleIconButton-1VxDrg {
    background: var(--button-color);
}

/* Отображение цвета разговора */
.border-2Vy6FN.speaking-7QZEkv,
.border-2BJQjd.speaking-3RWJBr,
.speaking-3K28iH,
.speaking-1Q5elM,
.avatarSpeaking-36V2PN {
    box-shadow: inset 0 0 10px rgb(140, 140, 140);
}

/* Меню настроек */
.sidebarRegionScroller-FXiQOh,
.contentRegionShownSidebar-fHXkEg {
    /*background: radial-gradient(black, #010918c4) !important;*/
    background: var(--main-color) !important;
}

.container-1QtPKm.checked-16gMAN,
.bd-switch input:checked + .bd-switch-body {
    background-color: var(--checkbox-cheked-color) !important;
}

.bd-switch-symbol,
.slider-HJFN2i > svg {
    display: none;
}

/* Зеленый значок показывающий нахождение в голосовом канале */
.iconBadge-32fMme {
    background-color: rgb(68, 74, 88) !important;
}

/* Правая панель серверов */
.member-48YF_l {
    background: #ff000000;
}

/* Профили */
.overlayBackground-2aa7wt {
    background-color: var(--main-color);
}

.userProfileInner-1ngKnf:before,
.userProfileInnerThemedNonPremium-2AJg-H {
    background: var(--additional-color);
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

/* Разные подсказки при наведении */

.theme-dark {
    /* Цвет контекстного меню */
    --background-floating: var(--additional-color);
    /* Цвет ссылок */
    --text-link: var(--link-color);
    /* Цвет голосовых сообщений */
    --background-secondary: var(--additional-color);
    /* Цвет в закрепах и тд */
    --background-primary: var(--main-color);
    /* Цвет бейджей важных сообщений */
    --status-danger: #3d78c4;
    /* Цвет экрана выбора демки */
    --modal-background: var(--main-color);
    --modal-footer-background: var(--additional-color);
    /* Задний цвет выбранного канала на сервере */
    --background-modifier-selected: var(--hover-color);
    --background-modifier-active: var(--hover-color);
    /* Кнопка Добавить в друзья на главном экране */
    --status-positive-background: var(--hover-color);
}

:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--additional-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
    /* Цвет текста при хорошем сигнале */
    --text-positive: var(--text-link);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-modifier-hover: var(--hover-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: #263341;
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
    /* Серые цвета кнопок */
    --button-secondary-background: #273039;
    --button-secondary-background-hover: var(--hover-color);
    /* Цвет хедеров плагинов */
    --background-secondary-alt: var(--hover-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--brand-600);
    --red-530: var(--brand-600);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--additional-color);
}

/* Сверху цвет надписи Discord */
.wordmarkWindows-2dq6rw {
    color: var(--text-link);
}

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption-2E2UmS:hover {
    background-color: var(--hover-color);
}

.quickSelectPopoutOption-2E2UmS:focus {
    background-color: transparent;
}

/* Реклама нитро при выборе качества демки */
.gradientBackground-MytxDL {
    display: none;
}

/* Иллюстрация при включении демки */
.art-1TvEXv,
.modalCloseButton-3jqiBN {
    display: none;
}

/* Зеленый индикатор демки рабочего стола */
.icon-39rdLt {
    background-color: var(--hover-color) !important;
}

/* Нижняя панель где ава, статус, муты микро */
.container-1CH86i,
.container-2NLBJg,
.panel-ufc1-o {
    background-color: var(--main-color) !important;
}

/* Анимация при наведении на каналы на серверах */
.link-1_kTxV {
    transition: background-color 0.4s;
}

/* Выделение текста */
::selection {
    background: var(--hover-color) !important;
}
