@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
    --main-color: #1a2026;
    --additional-color: #1f262d;
    --voice-color: #11171d;
    --button-color: linear-gradient(90deg, #263341, #273039);
    --blue-color-text: #7ecff5;
    --hover-color: #2a3742;
    --link-color: #7daae9;
    --checkbox-cheked-color: #23588b;
}

button[aria-label="Начать активность"],
button[aria-label="Камера недоступна"],
button[aria-label="Шумоподавление с помощью Krisp"],
[role="button"][aria-label="Показать профиль пользователя (недоступно)"],
[role="button"][aria-label="Показать профиль пользователя"],
[role="button"][aria-label="Почта"],
[role="button"][aria-label="Помощь"],
div:has(> button[aria-label="Открыть звуковую панель"]),
div:has(> span[class*="disabledButtonWrapper__69c70"]),
[role="button"][aria-label="Начать видеозвонок"],
button[aria-label="Отправить подарок"],
div:has(> button[aria-label="Открыть меню GIF"]),
div:has(> button[aria-label="Открыть меню выбора стикеров"]),
button[aria-label="Розпочати дію"],
button[aria-label="Поглинання шуму від Krisp"],
[role="button"][aria-label="Показати профіль користувача (недоступно)"],
[role="button"][aria-label="Показати профіль користувача"],
[role="button"][aria-label="Вхідні"],
[role="button"][aria-label="Довідка"],
div:has(> button[aria-label="Відкрити звукову панель"]),
[role="button"][aria-label="Розпочати відеовиклик"],
button[aria-label="Надіслати подарунок"],
div:has(> button[aria-label="Відкрити програму вибору GIF"]),
div:has(> button[aria-label="Відкрити програму вибору стікерів"]) {
    display: none;
}

/* hide nitro and shop tabs in DMs */
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/shop"],
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/store"] {
    display: none;
}

.actionButtons_b58cbb > button[aria-label="Продемонстрируйте свой экран"],
.actionButtons_b58cbb > button[aria-label="Почати демонстрацію екрану"] {
    background: var(--button-color);
    border-radius: 10px;
}

.buttonContainer__66ac7 {
    display: none;
}

.controlButton_ab2899.fauxDisabled_e7913a.contextMenuContainer_fc4df6 {
    display: none;
}

.scroller__3d071 > .listItem_fa7b36 > .listItemWrapper__1f93b {
    display: none;
}

.children__32014 > .akaBadge__7df41,
.children__32014 > .nicknames__7447d,
.children__32014 > .divider_c09b64 {
    display: none;
}

.withFrame__485f4 {
    /* height: 22px; */
    /* margin-top: 0; */
    background-color: var(--main-color) !important;
}

/*[role="button"][aria-label="Свернуть"],
[role="button"][aria-label="Развернуть"],
[role="button"][aria-label="Закрыть"] {
    padding-top: 3px;
}*/

.scroller__3d071,
.theme-dark .panel_bd8c76,
.chatContent__5dca8 {
    background: var(--main-color);
}

.root__3eef0 {
    background: var(--voice-color);
}

.container_ca50b9,
.container_d667ff {
    background: var(--main-color) !important;
}

.scroller__4b984,
.searchBar_e4ea2a {
    background: var(--additional-color) !important;
}

.searchBarComponent__22760,
.searchBar_e0c60b {
    background: var(--main-color) !important;
}

[data-list-id="chat-messages"],
.form__13a2c:before,
.form__13a2c {
    background: var(--main-color) !important;
}

.placeholder_e68c63,
.scrollableContainer__33e06 {
    background: var(--additional-color);
}

.themed_b152d4,
.children__32014:after {
    background: var(--additional-color) !important;
}

.members__9f47b {
    background: var(--additional-color);
}

/* Скролл-бар */
::-webkit-scrollbar {
    border: 0px !important;
    width: 9px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 189) !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(157, 157, 160) !important;
}

.auto_a48086::-webkit-scrollbar-track {
    background-color: #151b21;
}

.auto_a48086::-webkit-scrollbar-thumb,
.auto_a48086::-webkit-scrollbar-track {
    border: 4px;
}

/* Скролл-бар КОНЕЦ */

.selected_d94cf9 {
    background: #323b46;
}

/* Список сообщений, серверов, пользователей при наведении */
.interactive__776ee:hover:not(.interactiveSelected_ec846b),
.wrapper__7bcde:hover .wrapper__7bcde,
.clickable__17ccb:hover .layout_bb8e67,
.button_d553e5:hover {
    background: #252c35;
    transition: 0.3s;
}

/* Выбранные Список сообщений, серверов, пользователей */
.modeSelected__487d6 .wrapper__7bcde,
.button_d553e5.selected__63428 {
    background: #323b46 !important;
}

/* Кнопка на главный экран */
/* .childWrapper__01b9c {
    background: #3c4d62 !important;
} */

.theme-dark .container__590e2,
.container_b2ce9c {
    background: var(--additional-color);
}

/* Если тебя тегнули */
.mentioned__58017 {
    background: #7789ab2e !important;
}

.mentioned__58017:before {
    background-color: #4b7c97;
}

/* Кнопка В эфире */
/*.live_b195a5.liveLarge__9308a {
	background: var(--button-color);
}*/

/* Кнопка выключения просмотра демонстрации экрана и кнопка Отключиться */
button[aria-label="Прекратить просмотр"],
.colorable_c84c4c.red_a51ba8 {
    background: var(--button-color) !important;
}

/* Цвет строки поиска в вкладке Друзья */
.inner__999f6 {
    background: #323b46;
}

/* Загружаемые файлы и разные фоны в сообщениях */
.attachment_f3cf2c.newMosaicStyle__235c9,
.newMosaicStyle__8d3be .codeView__8b1ff,
.newMosaicStyle__8d3be .footer__06f4b,
.newMosaicStyle__8d3be .textContainer__709ff,
.grid_c7c4e6,
.wrapper_c727b6 {
    background: var(--button-color);
}

/* Кнопка + (зайти на сервер) */
.circleIcon__428dd > path {
    fill: var(--blue-color-text);
}

/* Кнопка + (зайти на сервер) */
.circleIconButton_d8df29 {
    background: var(--button-color);
}

/* Отображение цвета разговора */
.border_d9a17b.speaking__9b95a,
.border_e782de.speaking__1dd69,
.speaking-3K28iH,
.speaking_c1b30e,
.avatarSpeaking__61fb1 {
    box-shadow: inset 0 0 10px rgb(140, 140, 140);
}

/* Меню настроек */
.sidebarRegionScroller__1fa7e,
.contentRegionShownSidebar__610ed {
    /*background: radial-gradient(black, #010918c4) !important;*/
    background: var(--main-color) !important;
}

.container__871ba.checked__6bdb0,
.bd-switch input:checked + .bd-switch-body {
    background-color: var(--checkbox-cheked-color) !important;
}

.bd-switch-symbol,
.slider__41d94 > svg {
    display: none;
}

/* Зеленый значок показывающий нахождение в голосовом канале */
.iconBadge_fdf33a {
    background-color: rgb(68, 74, 88) !important;
}

/* Правая панель серверов */
.member_b44d5d {
    background: #ff000000;
}

/* Профили */
.overlayBackground__86b78 {
    background-color: var(--main-color);
}

.userProfileInner__8065b:before,
.userProfileInnerThemedNonPremium__3d0a6 {
    background: var(--additional-color);
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

/* Подсказки при наведении */
.tooltipPrimary_e5c00d,
.tooltipGrey_a35fcf {
    background: var(--button-color) !important;
    border-radius: 10px;
}

.theme-dark {
    /* Цвет контекстного меню */
    --background-floating: var(--additional-color);
    /* Цвет ссылок */
    --text-link: var(--link-color);
    /* Цвет голосовых сообщений */
    --background-secondary: var(--additional-color);
    /* Цвет в закрепах и тд */
    --background-primary: var(--main-color);
    /* Цвет бейджей важных сообщений */
    --status-danger: #3d78c4;
    /* Цвет экрана выбора демки */
    --modal-background: var(--main-color);
    --modal-footer-background: var(--additional-color);
    /* Задний цвет выбранного канала на сервере */
    --background-modifier-selected: var(--hover-color);
    --background-modifier-active: var(--hover-color);
    /* Кнопка Добавить в друзья на главном экране */
    --status-positive-background: var(--hover-color);
}

:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--main-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
    /* Цвет текста при хорошем сигнале */
    --text-positive: var(--text-link);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-modifier-hover: var(--hover-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: #263341;
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
    /* Серые цвета кнопок */
    --button-secondary-background: #273039;
    --button-secondary-background-hover: var(--hover-color);
    /* Цвет твоей панели активности */
    --background-secondary-alt: var(--additional-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--brand-600);
    --red-530: var(--brand-600);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--additional-color);
}

/* Сверху цвет надписи Discord */
.wordmarkWindows__05c46 {
    color: var(--text-link);
}

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption__39224:hover {
    background-color: var(--hover-color);
}

.quickSelectPopoutOption__39224:focus {
    background-color: transparent;
}

/* Реклама нитро при выборе качества демки */
.gradientBackground-MytxDL {
    display: none;
}

/* Иллюстрация при включении демки */
.art-1TvEXv,
.modalCloseButton-3jqiBN {
    display: none;
}

/* Зеленый индикатор демки рабочего стола */
.icon_c1b424 {
    background-color: var(--hover-color) !important;
}

/* Нижняя панель где ава, статус, муты микро */
.container_ca50b9,
.container_d667ff,
.panel_bd8c76 {
    background-color: var(--main-color) !important;
}

/* Анимация при наведении на каналы на серверах */
.link__95dc0 {
    transition: background-color 0.4s;
}

/* Выделение текста */
::selection {
    background: var(--hover-color) !important;
}

/* Цвет хедера плагинов */
.bd-addon-header {
    background-color: var(--hover-color) !important;
}

/* Закругленная панель пользователя */
[class^="sidebar_"] [class^="panels_"] {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}
[class^="sidebar_"] [class^="panels_"] [class^="container_"],
[class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
    background-color: transparent !important;
}
[class^="sidebar_"]
    [class^="panels_"]
    [class^="container_"]
    [class^="avatarWrapper_"]
    + [class^="flex_"] {
    margin-left: -10px;
}
#vc-spotify-player {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Nitro Theme Shit */
html.custom-theme-background [class^="sidebar_"] {
    background: var(--bg-overlay-3);
}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
    background: var(--bg-overlay-1);
}
/* Закругленная панель пользователя */

/* Закругленная панель настроек в настройках */
.side_b4b3f6 {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-left: -30px;
}

/* Закругленная панель где писать сообщение */
.scrollableContainer__33e06 {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45); */
}

/* Контекстное меню */
.menu_dc52c6 {
    border-radius: 20px;
    border: 1px solid var(--background-modifier-accent);
    animation: 0.2s show ease;
}

/* Кнопки в контекстном меню */
.colorDefault__0b482.focused__27621 {
    border-radius: 10px;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Контекстное меню выбора региона звонка */
.quickSelectPopout_c0cf80 {
    border-radius: 10px;
    /* border: 1px solid var(--background-modifier-accent); */
    /* .regionSelectName__7c81f {
    text-align: right;
	} */
}

/* Панель действий при наведении на сообщения */
.buttonsInner_bca8fa {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 10px;
}

/* Анимации при переключении табов разных */
.messagesWrapper_ea2b0b,
.container__590e2,
.content__23cab,
.peopleColumn__51df3 {
    animation: show 0.3s ease;
}

/* Возвращение микрофона как до обновления */
svg div button[aria-label="Вкл. микрофон"] {
    background: var(--white-500) !important;
}
svg div button[aria-label="Вкл. микрофон"] svg {
    color: var(--primary-860) !important;
}

svg div > button[aria-label="Откл. микрофон"] {
    background: var(--primary-630) !important;
}
svg div > button[aria-label="Откл. микрофон"]:hover {
    background: var(--primary-700) !important;
}
svg div button[aria-label="Откл. микрофон"] svg {
    color: var(--white-500) !important;
}

[role="button"][aria-label="Другие настройки"][class*="primaryDark__6b700"] {
    color: var(--primary-860) !important;
    background: var(--white-500) !important;
}

[role="button"][aria-label="Другие настройки"][class*="white__10e89"] {
    color: var(--white-500) !important;
    background: var(--primary-630) !important;
}
/* Возвращение микрофона как до обновления */
